#Rust
debug/
target/

**/*.rs.bk

*.pdb

#Go
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out

go.work
go.work.sum

#Elixir
/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

#Flutter
.dart_tool/
.packages
build/
pubspec.lock
doc/api/
.env*
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

.flutter-plugins
.flutter-plugins-dependencies

#Jetbrains
.idea/

# General
.env
